*{
    margin: 0; 
    padding: 0; 
    border: 0;
    list-style: none; 
    box-sizing: border-box; 
    text-decoration: none;
    font-family: 'Inter';
}
body{
    height: 2750px;
}
.loader-1 {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #ff0000;
    width: 100px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: #000000;
    position: absolute;
    top: 16.65%;
    left: 24.9%;
  }
  
  .loader-1::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
  .loader-2 {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #ff0000;
    width: 100px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: #000000;
    position: absolute;
    top: 50.1%;
    left: 25.25%;
  }
  
  .loader-2::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
  .loader-3 {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #ff0000;
    width: 100px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: #000000;
    position: absolute;
    top: 83.5%;
    left: 25.25%;
  }
  
  .loader-3::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
.block{
    position: relative;
    top: 900px;
    background-color: #f0f0f0;
    width: 200px;
}
.img-block{
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.img-block.visible-img{
    opacity: 1;
}